# Personal Configuration
.vs/*
!beijing-subway.txt
Project_Subway_Console/.vs/*
Project_Subway_Console/Debug/*
Project_Subway_Console/Release/*
Project_Subway_Console/x64/*
Project_Subway_Console/TestResults/*
Project_Subway_Console/Project_Subway_Console/Debug/*
Project_Subway_Console/Project_Subway_Console/Release/*
Project_Subway_Console/Project_Subway_Console/x64/*
Project_Subway_Console/UnitTest1/x64/*
Project_Subway_Console/UnitTest1/Debug/*

DLLCS/.vs/*
DLLCS/Debug/*
DLLCS/Release/*
DLLCS/x64/*
DLLCS/TestResults/*
DLLCS/DLLCS/Debug/*
DLLCS/DLLCS/Release/*
DLLCS/DLLCS/x64/*
DLLCS/UnitTest1/x64/*
DLLCS/UnitTest1/Debug/*
*.suo
*.db
*.psess
*.vspx
*.txt

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
